.f1mzbsus{width:300px;margin-left:30px;position:-webkit-sticky;position:sticky;position:-webkit-sticky;position:-webkit-sticky;position:sticky;top:0;height:100vh;overflow:hidden;}
.p19yrr7r{border:1px solid var(--main-bg-color);}
