body {
    font-family: 'Roboto', sans-serif;
}

.App-logo {
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

.App-header {
    padding: 0 20px calc(100vw * 9 / 16);
    background: black 50% no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    min-height: 0;
}

.App-header-title {
    position: absolute;
    top: 30%;
    font-size: 62px;
    font-weight: 200;
    color: white;
    width: 50%;
    text-align: center;
    left: 25%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding-top: 60px;
    width: 100%;
}

.container__title {
    font-size: 42px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
    background-color: crimson;
    padding: 8px 0;
    text-align: center;
}

.container__subheading {
    font-size: 26px;
    font-weight: 200;
    color: #000000;
    margin-bottom: 48px;
    text-align: center;
}

.post {
    min-height: 400px;
    width: 100%;
    margin-top: 32px;
    padding-bottom: 16px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post:first-child {
    margin-top: 0;
}

.post__title {
    font-size: 24px;
    text-align: left;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.content-container {
    display: flex;
}

.post-container {
    flex-basis: 650px;
}

.post-filter {
    height: auto;
    width: 300px;
    margin-left: 30px;
    position: sticky;
    border-left: 1px solid #dadce0;
}

.post-filter__category {
    padding: 12px 8px;
    border-bottom: 1px solid #dadce0;
    color: #2962ff;
}

.post__header {
    height: 50px;
    padding-left: 16px;
    font-size: 14px;
    margin-top: 12px;
}

.post__header strong {
    padding-right: 8px;
}

.post__header__country-flag {
    height: 20px;
    vertical-align: middle;
}

.post__header__country {
    font-weight: 300;
    color: #212123;
}

.post__image img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.post__image {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 400px;
}

.post__text {
    padding: 0 16px;
    text-align: justify;
    font-size: 14px;
}

.post__text-content {
    transition: all 500ms ease;
}

.post__text-content__expanded {
    -webkit-line-clamp: initial;
}

.post__read-more {
    text-align: left;
    padding-left: 16px;
    margin-top: 16px;
}

.post__social-block {
    padding-left: 16px;
    margin-top: 16px;
}

.post__social-block ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.post__social-block ul li{
    list-style: none;
    margin-right: 8px;
}

.post__read-more__button {
    border: none;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.post__read-more button {
    height: 40px;
    background-color: white;
    border: 1px solid crimson;
    margin-left: 16px;
    color: black;
    margin-top: 16px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
}
